#left_side_bar{	
		position: fixed;	
		z-index:2;
		.side_bar{
			background: $leftBg;
			min-height: 100vh;
			box-shadow: -4px 0 8px 4px;
			padding-top: 50px;
		.profile_bg{
		    padding: 35px 0;
		    background: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(51,176,194) 0%, rgb(7,64,85) 137%);
		    background: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(51,176,194) 0%, rgb(7,64,85) 137%);
		    background: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(51,176,194) 0%, rgb(7,64,85) 137%);
		   	box-shadow: inset 0px 0px 8.64px 0.36px rgba(0, 0, 0, 0.34);
		   	margin-bottom: 20px;
			.img_profile{
				margin:0 auto;
				width: 100px;
				height: 100px;
				border-radius: 100%;
				border: 3px solid $blueColor;
				overflow: hidden;
				img{
					width: 100%;
					height: 100%;
				}

			}
			.user_info{
				color: white;
  				text-align: center;
  				.user_n{
  					font-family: $roboto;
  					font-weight: 100;
  				}
  				.user_m{
  					font-family: $roboto;
  					font-weight: bold;
  					font-size: 12px;
  					.user_act{margin-left: 5px; cursor: pointer;}
  				}
			}
			
		}
		.list_items{
			ul{
				margin:0;
				padding:0;
			}
				.list_item{
					display: block;
		    		background:none;
		    		cursor: pointer;
		    		padding: 10px 15px;
		    		border-left: 4px solid $leftBg;
		    		//font-size: 14px;
		    		font-family: $roboto;
		    		font-weight: 400;
				}
				.list_item:hover{
					border-left: 4px solid $smllfldr;
					background: $smllfldrHover;
				}
				/*.list_item:hover > .icon{color: $smllfldr}*/
			.icon{padding-right: 10px;color: $smllfldr}
			.active{
				background:$smlfldrActive;
				border-left: 4px solid $blueColor;			
				.icon{color:$blueColor;}
				.txt{ font-weight:bold}				
			}
			}
		}
	}

