$roboto:'Raleway', sans-serif;
$blueColor:#00aeed;
$folderUp:#33c2fa;
$folderHover:#19576e;
$rightBg:#f8f8f8;
$leftBg:#d8d9db;
$smllfldr:#8f9092;
$smllfldrHover:#c2c6c9;
$smlfldrActive:#cdd0d5;
$select:#19576e;